.about-title {
    background-color: #F2F2F2;
    padding: 100px 0;
  }
  .about-page-decs{
    font-size: 15px;
    color: #6A6A6A;
    line-height: 24px;
  }
  img.card-img-top{
    min-height: 276px;
  }