* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

/* ---------------------Google-fonts-Css-Start-------------------------- */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* ---------------------Google-fonts-End-------------------------- */
/* ---------------------Common-Css-Start-------------------------- */

/* ---------------------Common-Css-End-------------------------- */

/* ---------------------Header-Section-Start-------------------------- */
.header-logo-area {
  background-color: #E8E8E8;
}

.header-icon-img {
  max-width: 25px;
  height: 25px;
}

.hours {
  color: #ac0000;
  font-size: 27px;
  margin: 2px 0 0 17px;
}

.day {
  color: #ac0000;
  font-size: 13px;
}

.contact-number {
  color: #ac0000;
  font-size: 27px;
  margin: 2px 0 0 17px;
}

.direct-contact-text {
  color: #ac0000;
  font-size: 13px;
}

.bi-facebook {
  color: #0a7fdb;
  font-size: 26px;
}

.bi-facebook:hover {
  color: #c18f59;
}

.bi-twitter {
  color: #0a7fdb;
  font-size: 26px;
}

.bi-twitter:hover {
  color: #c18f59;
}

.bi-youtube {
  color: #cd0101;
  font-size: 26px;
}

.bi-youtube:hover {
  color: #c18f59;
}

.bi-search {
  color: #f4f4f4;
  font-size: 26px;
}

.search {
  color: white;
  font-size: 13px;
}

.bi-search:hover {
  color: #c18f59;
}

/* ---------------------Navbar-Start-------------------------- */

.header-nav {
  background-color: #850000;
}

.responsive-logo {
  display: none;
}

.navbar a.nav-link.active {
  color: white;
  border-bottom: 3px solid #c18f59;
}

.nav-item i {
  margin-top: 27px;
}

.nav-link,
.dropdown {
  color: white;
  font-size: 14px;
  padding: 22px 0 22px 0;
}

.nav-link:hover {
  color: white;
  border-bottom: 3px solid #AA4D4D;
}

.bi-star-fill {
  font-size: 7px;
  color: #c18f59;
}

.dropdown:hover {
  border-bottom: 3px solid #AA4D4D;
}

.dropdown-menu {
  top: 67px;
  padding: 8px 35px 8px 8px;
  background-color: #141414;
}

.dropdown-item {
  color: #ffffff;
  background-color: inherit !important;
}

.dropdown-item:hover {
  color: #c18f59;
}

.dropdown:hover>.dropdown-menu {
  display: inherit;
}

/* ---------------------Fixed-Navbar-Start-------------------------- */
#header-navbar-two {
  background-color: #850000;
  display: none;
  width: 100%;
}

/* ---------------------Fixed-Navbar-End-------------------------- */
/* ---------------------Navbar-End-------------------------- */
/* ---------------------hero-section-Start-------------------------- */

.hero-section {
  background-image: url('../../assets/img/MOIN-LAW-SLIDER.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0 250px 0;
}

.hero-section h1 {
  font-size: 49px;
  line-height: 55px;
}

.hero-section h3 {
  font-size: 34px;
}

.services {
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #c18f59;
}

.services .bi-star-fill {
  font-size: 13px;
}

.services p {
  font-size: 16px;
}

.services p:hover {
  color: #c18f59;
}

.hero-btn {
  font-size: 14px;
  background-color: #DD1C45;
}

.hero-btn:hover {
  background: linear-gradient(180deg, rgba(255, 223, 115, 1) 0%, rgba(255, 115, 66, 1) 60%);
}

.responsive-hero-text {
  display: none;
}

/* ---------------------hero-section-End-------------------------- */
/* ---------------------Header-Section-End-------------------------- */
/* ---------------------Main-Section-Start-------------------------- */
.about-myself {
  padding-left: 30px;
}

.about-decs {
  font-size: 15px;
  color: #6A6A6A;
  line-height: 24px;
}

.about-contact hr {
  width: 50%;
}

.about-contact h6 {
  font-size: 13px;
}

.toll-free-number h6 {
  font-size: 18px;
  color: #6A6A6A;
}

.about-contact-number strong:hover {
  color: #c18f59;
}

/* ---------------------Main-Section-End-------------------------- */

/* ---------------------Footer-Section-Start-------------------------- */
footer {
  background-image: url('../../assets/img/footer-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-top: 3px solid #c18f59;
}

.footer-desc {
  color: white;
  font-size: 15px;
}

.footer-social-links .bi {
  color: white;
  font-size: 23px;
}

.footer-social-links .bi:hover {
  color: rgb(90, 90, 90);
  font-size: 23px;

}

.footer-social-links a {
  margin-bottom: 8px;
}

.footer-social-links h6 {
  color: white;
  font-size: 13px;
}

footer .border-end {
  border-color: #bcbcbc !important;
}
.footer-contact{
  margin-bottom: 30px;
}
.footer-contact h5 {
  font-size: 18px;
}

.contact-details .text-white .bi {
  font-size: 20px;
}

.bi-paperclip {
  font-size: 24px;
  color: #c18f59;
}

footer .contact-details p {
  font-size: 15px;
}

.footer-important-links {
  font-size: 15px;
}

.copyright-text {
  background-color: #141414;
}

.copyright-text p {
  color: #bcbcbc;
  font-size: 14px;
}

.whats-app-btn {
  background-color: #25d366;
  font-size: 18px;
  left: 2%;
  bottom: 2%;
}

.home-btn {
  right: 2%;
  bottom: 2%;
}

.bi-arrow-up-short {
  color: #c18f59;
  background-color: #ffffff;
  padding: 8px 10px;
  font-size: 20px;
}

.bi-arrow-up-short:hover {
  color: #ffffff;
  background-color: #c18f59;
  padding: 8px 10px;
  font-size: 20px;
}

/* ---------------------Footer-Section-End-------------------------- */
/* ---------------------------Animations-Css-Start---------------------- */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



.fadeInRightLate {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* ---
/* ---------------------------Animations-Css-End---------------------- */

/* ---------------------Media-Query-Css-Start-------------------------- */
@media (max-width: 991.98px) {
  .header-logo-area {
    display: none;
  }

  .header-nav {
    background-color: #353C4E;
  }

  .container-lg {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-toggler {
    color: #c18f59;
  }

  .responsive-logo {
    display: inline;
  }

  .dropdown-menu {
    position: relative !important;
    top: 10px;
  }

  .hero-section {
    padding: 10px 0 80px 0;
  }

  .hero-text {
    display: none;
  }

  .hero-section .col-lg-12 {
    padding: 0;
  }

  .responsive-hero-text {
    display: inline;
  }

  .responsive-hero-text h3 {
    font-size: 66px;
  }

  .responsive-hero-text h1 {
    font-size: 66px;
    margin-top: 25px;
  }

  .responsive-hero-text h3 {
    font-size: 60px;
  }

  .responsive-hero-text h1 {
    font-size: 60px;
    margin-top: 25px;
  }

  .about-myself {
    margin-top: 48px;
    padding: 0 12px;

  }

  .about-section .about-decs p.about-decs {
    padding-top: 10px;
  }

  .about-contact-number {
    margin-bottom: 15px;
  }

  .my-3 {
    margin-top: 0 !important;
    margin-bottom: 8px !important;
  }

  .introduce-video,
  .map {
    margin-top: 48px;
  }
}


@media (max-width: 767.98px) {
  .dropdown-menu {
    position: relative !important;
    top: 10px;
  }

  .hero-text {
    display: inline;
  }

  .responsive-hero-text {
    display: none;
  }

  .hero-text h3 {
    font-size: 40px;
  }

  .hero-text h1 {
    font-size: 40px;
    margin-top: 0;
  }

  .services p {
    font-size: 13px;
  }

  .my-3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .footer-social-links .mt-5 {
    margin-top: 0;
  }

  .footer-contact {
    margin-top: 48px;
  }

  .toll-free-number h6 {
    font-size: 15px;
  }

  .introduce {
    margin-top: 22px;
  }

  .introduce-video {
    margin-top: 14px;
  }

  .map {
    margin-top: 38px;
  }

}

/* ---------------------Media-Query-Css-End-------------------------- */